<footer>
    <div class="row">
        <div class="col-lg-6">
                <p>Have a question or a suggestion?</p>
                <a href="https://github.com/tidalmigrations/tidalmigrations.github.io">Edit on GitHub</a>
        </div>
        <div class="col-lg-6 footer">
            &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
            {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}<br/>
            <p><a href="https://tidalcloud.com" class="footer-link"><img class="footer-logo" src="{{ "images/company_logo.png" }}" alt="Company logo"/></a></p>
        </div>
    </div>
</footer>
