<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" }}">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/customstyles.css">
<link rel="stylesheet" href="css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="css/theme-blue.css">

<style>
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #4ABFD3;
    --header-text-color: #ffffff;
    --sidebar-background: #ffffff;
    --sidebar-text-color: #000000;
    --sidebar-hover-background: #e9ecef;
    --sidebar-hover-text-color: #0056b3;
    --table-background: #ffffff;
    --table-header-background: #343a40;
    --table-header-text-color: #ffffff;
    --table-row-background: #f8f9fa;
  }

  [data-theme="dark"] {
    --background-color: #212529;
    --text-color: #f8f9fa;
    --header-background: #343a40;
    --header-text-color: #f8f9fa;
    --sidebar-background: #343a40;
    --sidebar-text-color: #adb5bd;
    --sidebar-hover-background: #495057;
    --sidebar-hover-text-color: #ffffff;
    --table-background: #343a40;
    --table-header-background: #495057;
    --table-header-text-color: #f8f9fa;
    --table-row-background: #212529;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .navbar-inverse {
    background-color: var(--header-background);
    color: var(--header-text-color);
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-brand {
    color: var(--header-text-color);
  }

  #mysidebar,
  div#toc {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text-color);
    padding: 10px;
    border-radius: 5px;
  }

  #mysidebar ul li a,
  div#toc ul li a {
    color: var(--sidebar-text-color);
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }

  #mysidebar ul li a:hover,
  div#toc ul li a:hover {
    background-color: var(--sidebar-hover-background);
    color: var(--sidebar-hover-text-color);
  }

  #mysidebar ul li a.active {
    background-color: var(--sidebar-hover-background);
    color: var(--sidebar-hover-text-color);
    font-weight: bold;
  }

  div#toc > ul::before {
    content: "Table of Contents";
    font-weight: bold;
    color: var(--sidebar-hover-text-color);
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  table {
    background-color: var(--table-background);
  }

  table th {
    background-color: var(--table-header-background);
    color: var(--table-header-text-color);
  }

  table tr:nth-of-type(odd) {
    background-color: var(--table-row-background);
  }

  #search-input {
    background-color: var(--sidebar-background);
    color: var(--text-color);
    border: 1px solid var(--sidebar-hover-background);
    padding: 0.5em;
    margin-left: 20px;
    width: 20em;
    font-size: 0.8em;
    box-sizing: border-box;
    margin-top: 10px;
  }

  #search-input::placeholder {
    color: var(--sidebar-text-color);
    opacity: 0.7;
  }
  table tr:nth-of-type(odd) {
    background-color: var(--table-row-background);
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "js/jquery.navgoco.min.js" }}"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Anchor.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{ "js/toc.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>

<link 
  rel="icon"
  type="image/png"
  sizes="32x32" 
  href="https://assets.tidalcloud.com/favicons/tidal-favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="https://assets.tidalcloud.com/favicons/tidal-favicon-16x16.png"
/>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
